.boton-verde{
    background-color: green;
    height: 200px;
    width: 200px;
}

.boton-rojo{
    background-color: red;
    height: 200px;
    width: 200px;
}

.boton-amarillo{
    background-color: yellow;
    height: 200px;
    width: 200px;
}

.boton-azul{
    background-color: blue;
    height: 200px;
    width: 200px;
}

.click{
    background-color: black;
    height: 200px;
    width: 200px;
}


